*, *::before, *::after { 
  padding: 0; margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100% !important;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header{
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 40px;
  margin: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #424242;

}
.container {
  width: 431px;
  height: 361px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 74px;
  height: 24px;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #E8E8E8;
}

.background-all-done{
   width: 25vw;
  height: 25vh;
  display: none;
  margin-bottom: 40px;
}

.background-nothing-done{
  width: 25vw;
  height: 25vh;
  display: none;
  margin-bottom: 40px;
  position: relative;
  top: 20px;
}

p.nothing-done{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 16px;
  color: #252526;
  margin-bottom: 12px;
}

div.nothing-done{
  color: #A5A5A5;
  font-size: 13px;
  margin-bottom: 34px;
}

p.all-done{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 16px;
  color: #252526;
  margin-bottom: 12px;
}

div.all-done{
  color: #A5A5A5;
  font-size: 13px;
  margin-bottom: 34px;
}

.nothing-done{
  display: none;
}

.all-done{
  display: none;
}



.line{
  width: 100%;
  border: 1px solid #E9E9E9;
}

.todo-input{
  border: 1px solid #ffffff;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  transform: translate(12px, -5px);
  width: 359px;
}

.add-button{
  border: none;
  background: none;
  color: #A5A5A5;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 16px;
}

.add-button:hover{
  cursor: pointer;
  color: #252526;
}

.todo-input:hover::-webkit-input-placeholder {
  color: #252526;
}

.new_task{
  margin: 20px auto 38px 20px;
}

.new_task:hover button {
  color: #252526;
}

.new_task:hover input::-webkit-input-placeholder  {
  color: #252526;
}

.countTasks{
  margin-top: 12px;
  margin-bottom: 18px;
  font-size: 12px;
  position: relative;
  top: 8px;
}

.percent{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #999999;
  transform: translate(0, -40%);
}

li{
  list-style-type: none;
  background: #F1F2F6;
  border-radius: 8px;
  width: 400px;
  height: 4vh;
  margin-bottom: 8px;
  display: flex;
  margin-left: 3px;
}

li:hover .delete-button{
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  cursor: pointer;
  background: none;
  visibility: visible;;
}



.delete-button{
  margin-left: auto;
  border: none;
  cursor: pointer;
  background: none;
  visibility: hidden;
  color: #A5A5A5;
}

.delete-button:hover{
  color: #252526;
  margin-left: auto;
  border: none;
  cursor: pointer;
  background: none;
  visibility: hidden;
}

.checkbox{
  position: relative;
  display: block;
  appearance: none;
  width: 19px;
  height: 19px;
  margin-left: -12px;
  margin-top: 4px;
}


.li-text{
  margin-top: 3px;
  display: inline;
  padding-left: 10px;
  font-size: 15px;
}

.container-checkbox{
  padding-left: 20px;
  position: relative;
}

.false-checkbox{
  background: url("../images/Rectangle 3.svg");
  display: block;
  position: relative;
  top: -24px;
  width: 19px;
  height: 19px;
  margin-left: -12px;
  margin-top: 4px;
  background-size:100% 100%;
}

.checkbox:checked+ .false-checkbox{
  background: url("../images/today-logo.png");
  position: relative;
  display: block;

  margin-left: -12px;
  background-size:100% 100%;
}



.checkbox:hover+ .false-checkbox{
  background: url("../images/svg-editor-image.svg");
  background-size:100% 100%;
  position: relative;
  display: block;
  cursor: pointer;

  margin-left: -12px;

}

.checkbox:checked:hover+ .false-checkbox{
  background-image: url("../images/today-logo.png");
  position: relative;
  display: block;
  cursor: pointer;

  margin-left: -12px;
  background-size:100% 100%;
}

ul{
  overflow-y: auto;
  max-height: 200px;
  width: 410px;
  padding-top: 3px;
}

.todo-form{
  margin-bottom: -100px;
}

.todo-items::-webkit-scrollbar-track {border-radius: 1px;}
.todo-items::-webkit-scrollbar {width: 4px;}
.todo-items::-webkit-scrollbar-thumb {border-radius: 1px;background: #D8D8D8
;}

.li-click{
  box-sizing: border-box;
  outline: 3px solid #364FFB;
}

.new-day{
  width: 90px;
  height: 25px;
  position: relative;
  top: 115px;
  left: -710px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  margin-right: 7px;
  cursor: pointer;
}

.new-day:hover
{
  background: #DCF2E3;
  border: 1px solid #DCF2E3;
}

.new-day:active
{
  background: #9BE9B3;
  border: 1px solid #9BE9B3;
}